.certis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    flex-wrap: nowrap;
  }
/* For small devices (phones) */
@media (max-width: 794px) {
  .certis{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 404px) {
  .certis{
    display: flex;
    flex-direction: column;
  }
 .certi1 img{
   height:300px !important;
 }
 .certi2 img{
  height:300px !important;
 }
}
