.containwyus{
 width:100%; 
 min-height:100vh;  
}
.upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.whyusHeading span{
font-size:2.9rem;
font-weight:400;
color:#1B1B1B;
font-family: 'Raleway', sans-serif !important;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.extraright{
    margin-left:4%;
}
.rightparawhy{
    text-align: right;
    margin-right: 16%;
}
.parawhy{
    width:59% !important;
}
.line{
    border: 1px solid black;
    width:10%;
}
.newclasswhy{
    display: flex;
    flex-direction:row;
    justify-content: space-around;

}
 

.titlewhy{
    padding:6px;
    font-size:1.3rem;
}
/* Add animation keyframes */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Apply styles */
.hoverbounce:hover .ioshield {
    color: black !important; /* Change icon color on hover */
    animation: bounce 0.5s ; /* Apply bounce animation */
}
/* Apply styles */
.hoverbounce .ioshield {
    transition: color 0.3s; /* Smooth color transition */
}

.hoverbounce:hover .titlewhy {
    color: #ED6D1E; /* Change text color on hover */
}
.whyush3title{
   font-size:1.5rem;
   font-weight:400;
   margin:5px;
}
@media (max-width: 1211px) {
    .newclasswhy {
      flex-direction: column;
      align-items: center;
    }
    .col-md-3 {
      width: 100%;
      margin-bottom: 20px;
    }
  }
@media (max-width: 768px) {
    .newclasswhy {
      flex-direction: column;
    }
  }