.containwyus{
 width:100%; 
 min-height:100vh;  
}
.upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.whyusHeading span{
font-size:2.9rem;
font-weight:400;
color:#1B1B1B;
font-family: 'Raleway', sans-serif !important;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.extraright{
    margin-left:4%;
}
.rightparawhy{
    text-align: right;
    margin-right: 16%;
}
.parawhy{
    width:59% !important;
}
.line{
    border: 1px solid black;
    width:10%;
}
.newclasswhy{
    display: flex;
    flex-direction:row;
    justify-content: space-around;

}
 

.titlewhy{
    padding:6px;
    font-size:1rem;
}
/* Add animation keyframes */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Apply styles */
.hoverbounce:hover .ioshield {
    color: black !important; /* Change icon color on hover */
    animation: bounce 0.5s ; /* Apply bounce animation */
}
/* Apply styles */
.hoverbounce .ioshield {
    transition: color 0.3s; /* Smooth color transition */
}

.hoverbounce:hover .titlewhy {
    color: #ED6D1E; /* Change text color on hover */
}
.whyush3title{
   font-size:1.5rem;
   font-weight:400;
   margin:5px;
}

@media (max-width: 1211px) {
    .newclasswhy {
      flex-direction: column;
      align-items: center;
    }
    .col-md-3 {
      width: 100%;
      margin-bottom: 20px;
    }
 
    
  }
  @media (max-width: 1207px) {
    .newclasswhy {
      flex-direction: column;
    }
    .rightparawhy{
        text-align: left;
        margin-right: 16%;
    }
  }

  @media (max-width: 847px) {
    .newclasswhy {
      flex-direction: column;
    }
    .whyusHeading span{
        font-size: 2.7rem !important;
    }
  }
@media (max-width: 768px) {
    .newclasswhy {
      flex-direction: column;
    }
    .whyusHeading span{
        font-size: 2.2rem !important;
    }
    .kesarimg{
       height:250px !important;
       width:180px !important;   
    }
  }

  @media (max-width: 488px) {
    .whyusHeading span {
        font-size: 1.6rem !important;
    }
    .parawhy {
        width: 59% !important;
        font-size: 0.8rem !important;
        font-weight: 600 !important;
    }
    .titlewhy{
        font-size: 0.7rem !important;
    }
    .paraicon{
        font-size: 0.8rem !important;  
    }
    .ioshield{
        font-size: 30px !important;
    }
   
 
}
@media (max-width: 319px) {
    .whyusHeading span {
        font-size: 1.2rem !important;
    }
    .parawhy {
        width: 53% !important;
        font-size: 0.8rem !important;
        font-weight: 300 !important;
    }
    .hoverbounce {
        font-size: 20px !important;
    }
    .ioshield{
        font-size: 25px !important;
    }
}