.footer {
    background-color: #ED6D1E;
    color: white;
    padding: 20px;
}

.footer-icons {
    display: flex;
    flex-direction: row;
}
.dfottericonscen{
    margin-left: 40%;
}
.dfottericonscencnt{
    margin-left: 20%;
}
.dfootermsgcnt{
   margin-right:30%; 
}
.footer-content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    background-color: #ED6D1E;
    justify-content: space-around;
    color: #fff;
}
.fotter-upper:hover,
.fotter-upper:hover p,
.fotter-upper:hover .dfottericons,
.fotter-upper:hover .dfottericonscen,
.fotter-upper:hover .fotterphone {
    color: #ED6D1E !important;
}
.footer-content p {
    margin: 5px 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
}

.design-info {
    display: flex;
    align-items: center;
}

.design-info p {
    margin: 0;
    font-size: 14px;
    margin-left: 5px;
}

.copyright-icons {
    display: flex;
}

.copyright-icons img {
    margin-right: 10px;
}

.copyrighticoninner:hover{
color: #000;
}


@media (max-width: 1006px) {
   
    .dfottericonscencnt {
        margin-left: 31% !important;
    }
}

@media (max-width: 745px) {
    .dfottericonscencnt {
        margin-left: 39% !important;
    }

}

@media (max-width: 706px) {
.dfottericonscencnt {
    margin-left: 51% !important;
}
}

@media (max-width: 706px) {
    .dfottericonscencnt {
        margin-left: 51% !important;
    }
    }

    @media (max-width: 456px) {
            /* .dfottericonscencnt {
        margin-left: -35% !important;
        font-size: 9px;
    } */
    .dfottericonscencnt {
        margin-left: 75% !important;
        font-size: 9px;
    }

    .dfootermsgcnt {
        margin-right: 19%;
        font-size: 10px;
    }
    .dfootterphone{
        margin-right: 19%;
        font-size: 10px;

    }
    .fotterphone{
       font-size:25px;
    }
   
    .cntupperfotter{
        margin: -24px !important;
        overflow:hidden;
    }
    .fottermiddle{
        padding: 4px !important;
        margin-left: -72px !important;
        padding-right: 103px !important;
    
    }
    .dfottericonscen {
        margin-left: 53%;
    }
    .fotterphonefirst {
        margin-left: -25%;
    }
    .fotterend{
        padding: 4px !important;
        margin-left: -72px !important;
        padding-right: 103px !important;
      
    }
}